@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    background-color: #F1F1F3;
    font-family: 'Fira Sans', Arial, Helvetica, sans-serif;
    margin: 0;
}
body h1{
    font-weight: 700;
    color: #0E0E0E;
    font-size: 40px;
    
}
body p{
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
    opacity: 100%;
}
body h4{
    font-weight: 600;
    font-size: 20px;
    color: rgba(14, 14, 14, 0.8);
    margin: 1px;
}
nav h1,
.news .n .n2 h1,
footer h1{
    font-weight: 700;
    color: #0E0E0E;
    font-size: 32px;
}
.news .n .n2 h1{
    font-weight: 700;
    color: rgba(14, 14, 14, 0.8);
    font-size: 32px;
}
.pillars h1{
    font-weight: 700;
    color: #0E0E0E;
    font-size: 40px;
}
body h3{
    font-weight: 700;
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 24px 160px;
}
nav button{
    border-radius: 8%;
    padding: 15px 30px;
    width: 116px;
    height: 52px;
    color: #006A50;
    font-weight: 900;
    border: #006A50 solid;
}
main{
    margin-left: 160px;
    margin-right: 160px;
}
.start{
    background-image: url('./UI/banner.png');
    height: 500px;
    border-radius: 2%;
    margin: auto;
    background-repeat: none;
    background-size: cover;
}
.p{
    display: flex;
    gap: 24px;
}
.pillars .vision{
    margin-bottom: 80px;
}
.p4{
    background-color: #FFFFFf;
    padding: 24px;
    border-radius: 8%;
}
.v{
    display: flex;
    gap: 24px;
}
.v1, .v2 ,.v3{
    padding: 32px;
    border-radius: 8%;
    flex-direction: column;
}
.v2{
    background-color: #C6E4D6;
}
.v1{
    background-color: #C6E4f6;
}
.v3{
    background-color: #FFF7DF;
}
.b{
    color:white;
    border: none;
    padding: 11px 20px;
    border-radius: 8%;
    margin-top: 19px;
}
.b1{
    background-color: #5490F5;
    
}
.b2{
    background-color: #09A15C;
}
.b3{
    background-color: #FFC239;
}
.yunus{
    background-image: url('./assets/quote-bg.png');
    background-repeat: no-repeat;
    padding: 24px;
    background-color: white;
    border-radius: 18px;
    margin-top: 32px;
}
.btn{
    background-color: #006A50;
    color:white;
    border: none;
    padding: 11px 20px;
    border-radius: 10%;
}
.news{
    display: block;
}
.n{
    display: flex;
    gap: 32px;
    padding: 40px;
    background-color: white;
    border-radius: 18px;
    margin-top: 24px;
}
.n2{
    display: block;
}
.time{
    display: flex;
    gap: 9px;
    margin: 0;
}
.n2 p{
    margin: 5px;
}
.n2 h1{
    margin-bottom: 2px;
}
img{
    border-radius: 8%;
}
.taka{
    display: flex;
    justify-content: space-evenly;
}
.t{
    background-color: white;
    width: 240px;
    border-radius: 10%;
    margin: 32px;
}
#cc{
    background-color: #C6E4D6;
}
.text{
    width: 80%;
    text-align: center;
    padding: 10px;
    margin: 10px;
}
.donate{
    padding: 32px;
    align-content: center;
    text-align: center;
}
.subscribe{
    padding: 40px;
    align-content: center;
    text-align: center;
    background-color: #C6E4D6;
    margin: 32px;
    border-radius: 10px;
}
.subscribe p{
    padding : 0px 200px;
}

.text2{
    width: 50%;
    text-align: start;
    padding: 10px;
    border: none;
    margin: 0;
}

footer{
    text-align: center;
    background-color: white;
    width: 100%;
    padding: 10px 0px;
    margin: 0px;
}
footer ul a{
    margin: 10px;
}
