body{
    background-color: #F1F1F3;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 24px 160px;
}
nav button{
    border-radius: 8%;
    padding: 15px 30px;
    width: 116px;
    height: 52px;
    color: #006A50;
    font-weight: 900;
}
main{
    margin-left: 160px;
    margin-right: 160px;
}
.start{
    background-image: url('./UI/banner.png');
    height: 560px;
    border-radius: 2%;
    margin-bottom: 80px;
    background-repeat: none;
    background-size: cover;
}
.p{
    display: flex;
    gap: 24px;
}
.pillars .vision{
    margin-bottom: 80px;
}
.p4{
    background-color: #FFFFFf;
    padding: 24px;
    border-radius: 16px;
}
.v{
    display: flex;
    gap: 24px;
}
.v2{
    padding: 32px;
    background-color: #C6E4D6;
    border-radius: 16px;
}
.v1{
    padding: 32px;
    background-color: #C6E4f6;
    border-radius: 16px;
}
.v3{
    padding: 32px;
    background-color: #FFF7DF;
    border-radius: 16px;
}
.b1{
    background-color: #5490F5;
    color:white;
    border: none;
    padding: 11px 20px;
    border-radius: 10%;
    margin-top: 19px;
}
.b2{
    background-color: #09A15C;
    color:white;
    border: none;
    padding: 11px 20px;
    border-radius: 10%;
}
.b3{
    background-color: #FFC239;
    color:white;
    border: none;
    padding: 11px 20px;
    border-radius: 10%;
}
.yunus{
    background-image: url('assets/quote-bg.png');
    background-repeat: no-repeat;
    padding: 24px;
    background-color: white;
    border-radius: 5%;
    margin-top: 32px;
}
.btn{
    background-color: #006A50;
    color:white;
    border: none;
    padding: 11px 20px;
    border-radius: 10%;
}
.news{
    display: block;
}
.n{
    display: flex;
    gap: 32px;
    padding: 48px;
    background-color: white;
    border-radius: 4%;
    margin-top: 24px;
}
.n2{
    display: block;
}
.time{
    display: flex;
    gap: 9px;
}
img{
    border-radius: 8%;
}
.taka{
    display: flex;
    gap: 24px;
    justify-content: space-evenly;
}
.t{
    background-color: white;
    padding: 40px;
    font-weight: bolder;
    width: 240px;
    box-sizing: border-box;
    border-radius: 10%;
    margin: 32px;
}
#2{
    background-color: #C6E4D6;
}
.donate{
    align-items: center;
    display: block;
}
footer{
    text-align: center;

    background-color: white;
    padding: 50px;
}
footer ul a{
    margin: auto;
}
